ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  padding: 1%;
  background-color: grey;
}

li {
  float: left;
  border-right: 1% solid white;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0563e77;
  position: fixed;
  top: 0;
}