<!-- TODO: make links into buttons -->
<head>
  <link rel="stylesheet" href="./header.css">
  <link rel="stylesheet" href="../../variables.css">

  <script>
    function themeToggle() {
      var elem = document.body;
      elem.classList.toggle("theme-toggle");
    }
  </script>
</head>

<ul class="header">
  <li><a href="../../index.html">Home</a></li>
  <li><a href="pages/about/about.html">About</a></li>
  <li><a href="pages/contact/contact.html">Contact</a></li>
  <li><a href="pages/feedback/feedback.html">Feedback</a></li>
</ul>

<form id="theme" onsubmit="themeToggle()">
  <label for="theme">Select a theme</label>
  <select>
    <option value="normal">Normal</option>
    <option value="toggle">Toggle</option>
  </select>
  <input type="submit" value="submit">
</form>