html * {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5em;
}

body {
  background-color: #f0563e;
  margin: 0;
}

.theme-toggle {
  background-color: grey;
  color: white;
}

a {
  color: rgb(245, 244, 243);
}

table {
  border-collapse: collapse;
  border-color: black;
  width: 70%;
  margin: 1%;;
}

table, th, td {
  border: .1em solid;
  padding: 1%;
  padding-left: 3%;;
}

th, td {
  width: 50%;
}

.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
}

.header li {
  float: left;
}

.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1em 1.5em;
  text-decoration: none;
}

.header li a:hover {
  background-color: #111;
  border-radius: 1em;
}

.active {
  background-color: grey;
  border-radius: 1em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0563e77;
  border-radius: 1em;
  position: sticky;
  top: 0;
}

.bar {
  background-color: grey;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: auto;
  border-radius: 2em;
}

.footer {
  font-size: 8pt;
  border-radius: 1em;
  position: fixed; 
  bottom: 0; 
  margin-left: auto; 
  margin-right: auto; 
  background-color: grey;
}